workflows/main_pipeline.json
{
  "name": "iGaming Lead Generation Pipeline",
  "nodes": [
    {
      "id": "1",
      "name": "Telemetr API Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.telemetr.io/channels",
        "authentication": "headerAuth",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Parse Telegram Channels",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [300, 300],
      "parameters": {
        "functionCode": "// Extract channel data from Telemetr API response\nconst channels = items[0].json.data || [];\nreturn channels.map(channel => ({\n  json: {\n    channel_id: channel.id,\n    channel_name: channel.name,\n    subscribers: channel.subscribers,\n    game_category: channel.category,\n    engagement_rate: channel.engagement\n  }\n}));"
      }
    },
    {
      "id": "3",
      "name": "Lead Segmentation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "functionCode": "// Segment leads by game category and subscriber count\nconst lead = items[0].json;\nlet tier = 'cold';\nif (lead.subscribers > 100000) tier = 'hot';\nelse if (lead.subscribers > 10000) tier = 'warm';\nreturn [{ json: { ...lead, tier } }];"
      }
    },
    {
      "id": "4",
      "name": "ChatGPT Outreach Message",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [700, 300],
      "parameters": {
        "operation": "message",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an iGaming affiliate marketing specialist. Generate personalized outreach messages."
            },
            {
              "role": "user",
              "content": "Generate an outreach message for channel {{$json.channel_name}} in the {{$json.game_category}} niche with {{$json.subscribers}} subscribers. Tier: {{$json.tier}}."
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "MTProto Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{$env.MTPROTO_API_URL}}/send",
        "body": {
          "channel_id": "={{$json.channel_id}}",
          "message": "={{$json.message.content}}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "6",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 300],
      "parameters": {
        "operation": "upsert",
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "channel_id", "fieldValue": "={{$json.channel_id}}" },
            { "fieldId": "channel_name", "fieldValue": "={{$json.channel_name}}" },
            { "fieldId": "subscribers", "fieldValue": "={{$json.subscribers}}" },
            { "fieldId": "game_category", "fieldValue": "={{$json.game_category}}" },
            { "fieldId": "tier", "fieldValue": "={{$json.tier}}" },
            { "fieldId": "outreach_message", "fieldValue": "={{$json.message.content}}" },
            { "fieldId": "status", "fieldValue": "contacted" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Telemetr API Trigger": { "main": [[{ "node": "Parse Telegram Channels", "type": "main", "index": 0 }]] },
    "Parse Telegram Channels": { "main": [[{ "node": "Lead Segmentation", "type": "main", "index": 0 }]] },
    "Lead Segmentation": { "main": [[{ "node": "ChatGPT Outreach Message", "type": "main", "index": 0 }]] },
    "ChatGPT Outreach Message": { "main": [[{ "node": "MTProto Outreach", "type": "main", "index": 0 }]] },
    "MTProto Outreach": { "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
